<div class="contorno">
    <li class="row mt-5">
        <img class="col-12 col-lg-4 " src="../../../assets/img/foxbel-music-icon.png" alt="logo-foxbel-music">
        <p class="titulo-logo col-12 col-lg-7 ">Foxbel Music</p>
    </li>

    <li>
        <p class="subtitulo-sidebar h5">Mi Librería</p>
    </li>

    <li class="opciones-menu row">
        <span><hr class="barra">Recientes</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Artistas</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Álbums</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Canciones</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Estaciones</span>
    </li>

    
    <li>
        <p class="subtitulo-sidebar h5">Playlist</p>
    </li>

    <li class="opciones-menu row">
        <span><hr class="barra">Metal</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Para bailar</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Rock 90s</span>
    </li>
    <li class="opciones-menu row">
        <span><hr class="barra">Baladas</span>
    </li>
</div>