.contorno{
    background: #662323;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Esto lo mantendra en su sitio */
    position: fixed;
    height: 100vh;
    width: 330px;
    top: 0;
    left: 0;
}
li{
    list-style:none;
}
/* Logo con título */
li .titulo-logo{
    font-family: 'Quicksand', sans-serif;
    color: #E86060;
    padding-top: 1.5rem;
    padding-left: 0;
    font-size: 2rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight:bold;
}
li img{
    background-color: #662323;
    border: none;/* 
    width: 250px;
    height: 59px; */
}

.subtitulo-sidebar{
    color: #FFFFFF;
    font-size: 22px;
    margin-top:2rem;
    padding-left: 2rem;
    font-family: Quicksand;
    font-style: normal;
    font-weight:bold;
    line-height: 27px;
}
.opciones-menu{
    cursor: pointer;
    color: #FFFFFF;
    margin-top:0.5rem;
    padding-left: 2rem;
    font-family: Quicksand;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight:normal;
}
.active{
    color: #E86060;
    
}

.barra{
    margin-right: 1rem;
    position: absolute;
    width: 5px;
    margin-top:0;
    height: 20px;
    left: 0px;
    color: #FFFFFF;
    background: #662323;
}
.opciones-menu:hover {
    color: #E86060;
}
.opciones-menu:hover .barra{
    background: #E86060;
}
@media screen and (max-width : 1360px){
    li .titulo-logo{
        font-family: 'Quicksand', sans-serif;
        color: #E86060;
        padding-top: 1.3rem;
        font-size: 1.7rem;
        padding-left: 0;
        
    }
    li img{
        width: 280px;
        height: 59px;
        left: 40px;
        top: 50px;
        /* padding-right: 0rem;
        padding-left: 0;
        margin-left: 1.3rem; */
    }
}
@media screen and (max-width : 768px){
    li .titulo-logo{
        font-family: 'Quicksand', sans-serif;
        color: #E86060;
        padding-left: 1rem;
        padding-top: 0;
        font-size: 1.6rem;
    }
    li img{
        display: none;
    }
}

