<div class="container-fluid">
    <div class="row">
        <section class="col-3">
            <app-sidebar class="row"></app-sidebar>
        </section>
        <section class="col-9">
            <router-outlet ></router-outlet>
        </section>
    </div>
</div>

    <!-- Content Wrapper -->
    <!-- <div class="d-flex flex-column">

        <div id="content">

            <div class="container-fluid">

                <router-outlet></router-outlet>

            </div>

        </div>

        <app-reproductor></app-reproductor>

    </div> -->
    <!-- End of Content Wrapper -->