<div class="row">
    <buscar-cancion (OnBusquedaCancionPorNombre)="busquedaCancionPorNombre($event)" [usuario]="usuario" ></buscar-cancion>
</div>
<div *ngIf="mostrar" class="m-3 container-fluid mt-5 justify-content-center">
    <div class=" bg-primary">
        <primera-cancion (OnReproducirAlbum)="reproducirAlbum($event)" [albumId]="idAlbum" [mostrar]="mostrarPrimeraCancion" [primerTrack]="track" ></primera-cancion>
    </div>
    
    <div class="row container-canciones justify-content-center mt-4">
        <p class="h4">Resultados</p>
        <div class="row">
            <cancion (OnReproducir)="reproducirTrack($event)" [imagenTrack]="track.album?.cover!" [mostrar]="mostrar" [track]="trackItem" class="mt-3" *ngFor="let trackItem of tracks | filterTrack:busqueda"></cancion>
        </div>
    </div>
    <audio style="background: black;" (ended)="audioEnded()" preload="auto" #audioPlayer>
        <source [src]="trackReproduciendo.preview" type="audio/mp3">
    </audio>
</div>

<reproductor *ngIf="mostrarReproductor" (OnPause)="playTrack($event)" (OnVolumen)="volumenTrack($event)" [play]="play" [track]="trackReproduciendo"> </reproductor>
