<div class="card mb-5 ">
    <div class="row g-0 justify-content-center">
        <div class="col-12 col-md-3 reproductor">
            <i (click)="listarTracksPorAlbum()" class="play-album fa-solid fa-play"></i>
            <img src="{{primerAlbum.cover_xl}}" class="text-center img-primer-album" alt="...">
        </div>
        <div class="info-album col-12 col-md-9">
            <div class="mt-4 card-body">
                <p class="card-title">{{primerAlbum.artist!.name!}} {{primerAlbum.title}}</p>
                <p class="card-subtitle">Lo mejor de {{primerAlbum.artist!.name!}} <span class="nro-seguidores">{{seguidores}} seguidores</span></p>
                <p class="card-text mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia eveniet mollitia atque, autem, recusandae consectetur eos pariatur ullam dolores a deserunt ducimus, dolorum tenetur impedit sunt facilis accusamus ipsum ut?.</p>
                <div class="botones">
                    <button (click)="listarTracksPorAlbum()" class="btn-reproducir col-3 btn btn-danger">Reproducir</button>
                    <button class="btn-seguir col-3 btn btn-danger">Seguir</button>
                </div>
                
            </div>
        </div>
    </div>
</div>