<div class="contenedor justify-content-center ">
    <div class="col-1">
        <img src="{{track.album?.cover}}" class="mg-reproduccion text-center img-primer-album" alt="...">
    </div>
    <div class="col-2 info-track">
        <p class="h5"><strong>{{track.title}}</strong></p>
        <p class="h5">{{track.artist!.name!}} - {{track.album?.title}}</p>
    </div>
    <div class="offset-6 col-1">
        <div class="row botones">
            <i (click)="atras()" class="col-1 fa-solid fa-backward-step"></i>
            <i (click)="reproducir()" class="col-1 {{play?'fa-solid fa-circle-play':'fa-solid fa-circle-pause'}}"></i>
            <i (click)="adelante()" class="col-1 fa-solid fa-forward-step"></i>

        </div>
    </div>
    <div class="col-1">
        <div class="row volumen">
            <div class="col-10">
                <input (change)="configurarVolumenTrack()" [(ngModel)]="volumenTrack" step="0.2" type="range" class="form-range" min="0" max="1" >   
            </div>
            <i class="col-2 fa-solid fa-volume-off"></i>
        </div>
    </div>
</div>